<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ title }}</h1>
    <hr class="my-4">
    <p class="lead">This is a basic converter application that can be used to convert between some popular units. This needs much more TLC and time, however it demonstrates some basic principles.
    <br/><br/>Enter a value in the text box and click on the "=" button to do the convertion.
    </p>
  </div>
</div>
<app-formulas></app-formulas>

<router-outlet></router-outlet>
