<div *ngFor="let formula of formulas" class="input-group input-group-sm mb-3 form-row align-items-center">
  <input #inputValue type="text" class="form-control" value="1" aria-describedby="basic-addon1">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon1">{{formula.fromType}}</span>
    <span class="input-group-text">converted to {{formula.toType}}</span>
    <button class="btn btn-outline-secondary" type="button" (click)="convert(formula, inputValue.value)">=</button>
  </div>
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">{{formula.result}}{{formula.toType}}</span>
  </div>
</div>
